body {
    font-family: Arial, sans-serif;
    color: white;
    background-color: black;
    margin: 0;
    padding: 0;
}

header {
    background-color: #444;
    padding: 20px;
    text-align: center;
    border-bottom: 3px solid #ffcc00;
    color: #ffcc00;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}